<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-integer-division</string>
			<key>description</key>
			<string>result of integer division used in a floating point context; possible loss of precision</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>e9b076aee811170187dfff85e5812dd4</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>22</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>494</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>22</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>494</integer>
					</dict>
					<key>message</key>
					<string>result of integer division used in a floating point context; possible loss of precision</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/home/birdy/seng440code/colour_convert_int.c</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clang-tidy</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.22.2</string>
		</dict>
	</dict>
</dict>
</plist>
